<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qilin.AnimationLearing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ValueAnimtionActivity"
            android:label="ValueAnimtionActivity">
            <intent-filter>
                <action android:name="com.qilin.AnimationLearing.ValueAnimtionActivity"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FrameAnimationDemo"
            android:label="FrameAnimationDemo">
            <intent-filter>
                <action android:name="com.qilin.AnimationLearing.FrameAnimationDemo"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WordJumpAnimationActivity"
            android:label="WordJumpAnimationActivity">
            <intent-filter>
                <action android:name="com.qilin.AnimationLearing.WordJumpAnimationActivity"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoveToPositionActivity"
            android:label="MoveToPositionActivity">
            <intent-filter>
                <action android:name="com.qilin.AnimationLearing.MoveToPositionActivity"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>